.Part1{
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.part1Top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.part1TopLeft{
    display: flex;
    flex-direction: column;
}

.part1TopLeft1Row{
    display: flex;
    flex-direction: row-reverse;
}

#popcornPat1{
    transform: rotate(90deg);
}

.part1Bottom{
    display: flex;
    justify-content: center;
}

.part1Bottom1{
    background-color: brown;
    height: 200px;
    width: 400px;
}


.part1BottomBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    color:white;
}

#popcornPart1Bottom{
    position: relative;
    left: 20px;
    bottom: -20px;
}

@charset "utf-8";

html,
body {
  margin: 0;
  padding: 0;
  display: block;
}

/*header_part*/
header{
  display: flex;
  width: 100%;
  height: 55px;
  background-color: rgba(43, 1, 1, 0.8);
}
.header_box {
  display: flex;
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.logo_box{
  width: 100px;
  height: 40px;
}
.img_logo{
  width: 100px;
  height: 65px;
}

.nav_menu{
  width: 1200px;
  height: auto;
  display: flex;
  justify-content:flex-end;
  margin: 0 auto;
}
ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav_li {
  margin: 0 25px;
}

.a_click{
  color: aliceblue;
}